.banner {
  position: relative;
  background-image: url(../images/Clothing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top top;
  height: 80vh;
  z-index: 0;
  background-attachment: fixed;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.banner-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 3;
}


